<!DOCTYPE html>
<html>
<head>
	<title>Zahlungsdaten</title>
	<link rel="stylesheet" type="text/css" href="../styles/bankdata.css">
</head>
<body>
	<div class="gridwrapper">
		<a class="logoutlink" href="/logout">Abmelden</a>
		<div class="header">
			<h1 class="logo">Verleih123</h1>
		</div>
			
		<h2 class="headerName">Ihre Zahlungseinstellungen | <%=accountName%></h2>

		<div class="bankdata">
			<h2>DATEN</h2>
		<form action="/user/bankdata" method="post">
			<input type="text" placeholder="Kontonummer"><br>
			<input type="text" placeholder="Name ihrer Bank"><br>
			<button type="submit">BANKDATEN HINZUFÜGEN</button>
		</form>
		</div>
		<a href="/user/myaccount">ZURÜCK</a>
	</div>

</body>
</html>