<!DOCTYPE html>
<html>
<head>
	<title>Zahlungsdaten</title>
	<link rel="stylesheet" type="text/css" href="../styles/bankdata.css">
</head>
<body>
	<div class="gridwrapper">
		<a class="logoutlink" href="</logout>">Abmelden</a>
		<div class="header">
			<h1 class="logo">Verleih123</h1>
		</div>
		<h2 class="headerName">Ihre Zahlungseinstellungen | <%=accountName%></h2>
		
	</div>
</body>
</html>