<!DOCTYPE html>
<html>
<head>
	<title>Password Ändern</title>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">

</head>
<body>
	
	<div class="topline">
		<a href="/">Go back Home</a>
	</div>

	<div class="navigation">
		<header>
			<h1 class="logo">Verleih123</h1>
		</header>

		<div class="user">
			<div>
				<a href="/user/myAccount"> <%=user%> </a></li>
			</div>
		</div>
	</div>

	<section>
		<form action="/user/passwordChange_verify" method="post">
			<input type="password" name="oldPass" placeholder="Altes Password">
			<input type="password" name="newPass" placeholder="Neues Password">
			<input type="password" name="newPassRepeat" placeholder="Password wiederholen">
			<button type="sumbit">Password ändern</button>
		</form>

	</section>
	
	<footer>
		<p>Impressum. Copyrights by me.</p>
	</footer>

</body>
</html>