<!DOCTYPE html>
<html>
<head>
	<title>Password Ändern</title>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../styles/changePW.css">

</head>
<body>
	
	<div class="topline">
		<a href="/">Go back Home</a>
	</div>

	<div class="navigation">
		<header>
			<h1 class="logo">Verleih123</h1>
		</header>

		<div class="user">
			<div>
				<a href="/user/myAccount"> <%=user%> </a></li>
			</div>
		</div>
	</div>

	<div class="form">
		<form action="/user/passwordChange_verify" method="post">
		<div class="inputs">
			<div class="title">
				<h2>ÄNDERN SIE IHR PASSWORT:</h2>
			</div>
			<div class="oldPass">
				<input type="password" name="oldPass" placeholder="Altes Password">
			</div>
			<div class="newPass">
				<input type="password" name="newPass" placeholder="Neues Password">
			</div>
			<div class="newPassRepeat">	
				<input type="password" name="newPassRepeat" placeholder="Password wiederholen">
			</div>
			<div class="PWchangeButton">
				<button type="sumbit">Password ändern</button>
			</div>
		</div>
		</form>
		
	</div>
	<div class="impressum">
		<p>Impressum. Copyrights by me.</p>
	</div>
	<a href="/user/myaccount">ZURÜCK</a>

</body>
</html>