<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="../styles/main.css">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	<title>Verleih123</title>

</head>
<body>
	<header>
		<nav>
			<h1>Verleih123</h1>
			<ul>
				<li><a href="<%=sendTo%>"> <%=account%> </a></li>
			</ul>
		</nav>	
	</header>

	<section> Hier kommen unsere Geräte hin</section>

	<footer>
		<p>Impressum. Copyrights by me.</p>
	</footer>


</body>
</html>
