<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="../styles/login.css">

</head>
<body>
	<div class="gridwrapper">
	<div class="header1">
	<header>
		<nav>
		<h1 class="logo">Verleih123</h1>
		</nav>	
	</header>
	</div>
		<div class="message">
			<h2><%=message%></h2>
		</div>
		<div class="loginbox">
			<h2>LOGIN</h2>
			<form action="/user/login" method="post">
				<input type="text" name="username" placeholder="Benutzername"><br/>
				<input type="password" name="password" placeholder="Passwort"><br/>
			<button type="submit">ANMELDEN</button>
			</form>
		
			<a href="/user/register">Registrieren</a>
			<a href="/">Startseite</a>
			
		</div>
	</div>
</body>
</html>