<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1><%=accountName%></h1>


	<p>
		
		<a href="">Add credit card info</a>
		<a href="">Add new adress</a>	
	</p>

	<p>
		<a href="">Change main delivery adress</a>
		<a href="">Change adress</a>
		<a href="">Change Email</a>
		<a href="">Change password</a>
	</p>
	
	<form action="/logout" method="get">
		<button>Log out</button>	
	</form>

	<form action="/" method="get">
		<button>Go back hoooooooooome</button>
	</form>

</body>
</html>