<!DOCTYPE html>
<html>
<head>
	<title>Kontoeinstellungen</title>
	<link rel="stylesheet" type="text/css" href="../styles/personaldata.css">
</head>
<body>
	<div class="gridwrapper">
		<a class="logoutlink" href="</logout>">Abmelden</a>
		<div class="header">
			<h1 class="logo">Verleih123</h1>
		</div>
		<h2 class="headerName">Ihre Kontoeinstellungen | <%=accountName%></h2>
			
	</div>
</body>
</html>