<!DOCTYPE html>
<html>
<head>
	<title>Amdin upload</title>
</head>
<body>

	<h1>Geräte zum Shop hinzufügen</h1>

	<form action="upload_image" method="post" enctype="multipart/form-data">
		<input type="text" name="deviceName" placeholder="Gerätename">
		<input type="text" name="price" placeholder="Preise">
		<input type="text" name="description" placeholder="Geräte Beschreibung">

		<input type="file" name="filename"><br/><br/>
		<input type="submit" value="Gerät Hinzufügen" name="submit">
	</form>

</body>
</html>