<!DOCTYPE html>
<html>
<head>
	<title>Admin-Upload</title>
	<link rel="stylesheet" type="text/css" href="../styles/upload.css">
</head>
<body>

	<div class="navigation">
		<header>
			<h1 class="logo">Verleih123</h1>
		</header>
	</div>

	<h1 class="headline">Geräte zum Shop hinzufügen</h1>

	<div class="uploadform">
		<form action="upload_image" method="post" enctype="multipart/form-data">
			<input type="text" name="deviceName" placeholder="Gerätename">
			<input type="text" name="price" placeholder="Preis in €">
			<input type="text" name="description" placeholder="Gerätebeschreibung">

			<input type="file" name="filename"><br/><br/>
			<input type="submit" value="Gerät hinzufügen" name="submit">
		</form>
	</div>
	<div class="backlink">
		<a href="/user/myaccount">ZURÜCK<a>
	</div>
</body>
</html>