<!DOCTYPE html>
<html>
<head>
	<title>Amdin upload</title>
</head>
<body>

	<h1>Plz Uploaden du booszer</h1>

	<form action="upload_image" method="post" enctype="multipart/form-data">
		<input type="file" name="filename"><br/><br/>
		<input type="submit" value="Upload" name="submit">
	</form>


</body>
</html>