.gridwrapper {
	display: grid;
	grid-template-rows: 25px 55px 100px 380px 140px;
	grid-template-columns: 1fr 2fr 1fr;
	grid-gap: 10px;
	height: 100vh; 
}



body{

	font-family: segoe-ui_normal,Segoe UI,Segoe,Segoe WP,Helvetica Neue,Helvetica, sans-serif;
	background-image: url("background/piktogramme.png");
	background-size: 550px;
	margin: 0;

}

.logo {
	color: white;
	font-size: 20px;
	padding: 0 0 0 1em;
	grid-row: 1;
	grid-column: 1;
	margin-top: 13.5px;    /*nur übergangsweise, aus irgendeinem Grund kann man das Logo nicht vertikal "alignen"*/
}

.header1 {

	grid-row-start: 2;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 4;
	background: #fb7736;
	color: white;
	margin: 0;

	
}

h2 {
	font-size: 30px;
}
.message {

	grid-row-start: 3;
	grid-row-start: 3;
	grid-column-start: 2;
	grid-column-start: 2;
	justify-self: center;
	color: black;

}

.loginbox {

	grid-column: 2;
	grid-row: 4; 
	text-align: center;
	background-color: rgba(80,80,80,0.5);
	border-radius: 10px;


}

.loginbox a {

	padding-left: 5px;
	padding-right: 5px;
	color: black;

}
input {
	
	height: 50px;
	width: 250px;
	border-radius: 5px;
	border: 1px solid;
	margin-top: 10px;
	font-size: 20px;
	padding-left: 5px;
	outline: none;
	border-style: none;
	
}
button {

	cursor: pointer;
	margin-top: 7%;
	margin-bottom: 5%;
	height: 40px;
	width: 140px;
	border-style: none;	
	border-radius: 5px;
	outline: none;
	font-size: 110%;
	-webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    background-color: white;
	color: #4c4c4c;

}

button:hover {

	background-color: #2fcc1e;
	color: white;

}
