body {
	background-image: url("background/piktogramme.png");
	background-size: 550px;
	margin: 0;

}
header h1 {
	color: white;
	display: inline;
	margin: 0;
}
header {
	background: #52B08F;
	margin: 0;
	padding: 0px 15px 0 15px;
}
nav ul {
	margin: 0;
	display: inline;
	padding: 0 0 0 15px;
}
nav ul li {
	list-style-type: none;
	display: inline-block;
	background: #52B08F;
	color: white;
	padding: 15px 5%;
}
nav ul li a {
	color: white;
	text-decoration: none; 
}

 