body {
	font-family: segoe-ui_normal,Segoe UI,Segoe,Segoe WP,Helvetica Neue,Helvetica, sans-serif;
	background-image: url("background/piktogramme.png");
	background-size: 550px;
	margin: 0;

	display: grid;
	grid-template-areas:
	"top1 top2 top3"
	"header header header"
	"section section section"
	"footer footer footer";
	grid-template-rows: 25px 50px 1fr 50px;
	grid-template-columns: 15% 1fr 18%
	grid-gap: 10px;
	height: 100vh;
	margin: 0px;
}

header h1 {
	color: white;
	display: inline;
	margin: 0;
}
header {
	background: #fb7736;
	margin: 0px 5px;
	padding: 0px 15px 0 15px;
	grid-area: header;
}

nav ul {
	display: inline;
	padding: 0 0 0 15px;
}
nav ul li {
	list-style-type: none;
	display: inline-block;
	background: #D27E54;
	color: white;
	padding: 14px 5%;
}
nav ul li a {
	color: white;
	text-decoration: none; 
}
nav ul li a:hover {
	text-decoration: none;
}


section {
	grid-area: section;
}

footer {
	grid-area: footer;
}

.topline {

	grid-area: top3;
	text-align: right;
	padding-right: 20px;
	padding-left: 10px;
	word-spacing: 10px;

}

a{
	text-decoration: none;
	color: black;

}

a:hover{
	text-decoration: underline;
}



 